<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	{% for css in assets.css %}
	<link rel="stylesheet" type="text/css" href="{{ css }}">
	{% endfor %}
	{% if fathom_site_id %}
	<script src="https://cdn.usefathom.com/script.js" site="{{ fathom_site_id }}" spa="auto" defer></script>
	{% endif %}
</head>

<body>

	<div
		id="cosmos"
		data-version="{{ app_version }}"
		data-autosave="{{ auto_save }}"
	></div>

	{% for js in assets.js %}
	<script src="{{ js }}"></script>
	{% endfor %}

</body>

</html>
