.annotation-container {

	position: absolute;
	// padding-top: 16px;

	&.on-right {
		// margin-left: 48px;
		transform: translate(48px, -8px);
		&.is-above {
			transform: translate(48px, calc(-100% + 8px));
		}
	}

	&.on-left {
		// padding-right: 4px;
		transform: translate(-100%, -8px);
		&.is-above {
			transform: translate(-100%, calc(-100% + 8px));
		}
	}

	// &.is-above {
	// 	transform: translateY(-100%);
	// 	// padding-bottom: -32px;
	// }

	// &.on-left.is-above {
	// 	transform: translate(-100%, -100%);
	// }

	.card {
		width: $control-width-sm;
		@include shadow-variant(.2rem);
		border: 0;
	}

}
